{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <title>Video Trim Application</title>
  </head>
  <body>
	    <div id="book-list">
        <form action="/trim" method='POST'>
          {% csrf_token %}
          <input name="video_file_path" type="text" placeholder="/path/to/videofile"/>
  	    	<h2 class="title">Video Trim Points</h2>
  	    	<ul>
  	    	</ul>
          <button type="submit">Trim</button>
        </form>
	    </div>
	    <form id="add-book">
	    	<input type="text" placeholder="Add a trim time..." />
	    	<button id="add">Add</button>
	    </form>
    </div>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
